* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* nav styles starts here */
.nav-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    background-color: white;



    margin: auto;
}

.nav-container a {
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;

}

.nav-img {
    display: flex;
    align-items: center;
    margin-right: 200px;

}

.gamer {
    color: #ff42a5;
}

.nav-img p {
    font-size: 45px;
    font-weight: 700;
    margin-right: 20px;
}

.nav-menus {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#follow {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 18px;
    border-radius: 8px;
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    background-image: linear-gradient(to bottom, #08FFF9, #F00044, #000000);
    color: transparent;
    -webkit-background-clip: text;
}

/* nav styles ends here */
/* banner styles starts here */
.banner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 60px;
    padding: 40px 0 40px 20px;
    height: 0 auto;

}

.btn-one {
    padding: 21px 40px;
    background-color: #ff42a5;
    color: white;
    border: none;
    border-radius: 48px;
    margin-top: 40px;
}

.btn-two {
    padding: 21px 40px;
    color: white;
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
    margin-top: 40px;
}

.banner-first {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;

}

.banner-sec {
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;

}

.fa-play {

    color: #ff42a5;
}

.fa-solid {
    margin-right: 10px;
    width: 15px;
}

.banner-info p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;
}

.banner-img img {
    width: 75%;
    margin-left: 90px;
}

/* banner styles ends here */
/* video styles starts here */
.video-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 160px;
}

.video-container img {
    width: 250px;

}

.video-container img:hover {
    cursor: pointer;
}

.video-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.video-dis {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
    font-weight: 400;
   

}

.funny {
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.cards p {
    color: #534C64;
    font-size: 17px;
    font-weight: 500;
}







































@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        width: 100%;
       
    }

    .nav-img {
        text-align: center;
        margin-left: 140px;
    }

    .nav-menus {
        flex-direction: column;
        margin-top: 40px;
        gap: 30px;
    }

    .fa-solid {
        width: auto;
    }

    .banner-container {
        flex-direction: column-reverse;
        
        margin: auto;
        padding: 0px;
    }

    .banner-info {
        margin-top: 60px;

    }
    .btn-two{
        margin-left: 20px;
    }

    .banner-img img {
        width: 100%;
        margin: auto;
        padding: 0 auto;
        margin-top: 50px;
      
    }
    .video-container{
        flex-direction: column;
        padding: 20px;
  
    }
    .video-container img{
        width: 100%;
        
     
    }
    .cards p{
        width: 90%px;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .video-title{
        font-size: 29px;
        margin-top: 30px;
       
        width: 100%;
       
    }
    .video-dis{
        width: 100%;
      
    }
    .bad{
        display: inline-block;
        margin-left: 20px;
        margin-top: 50px;
    }

}


@media screen and (min-width:577px) and (max-width:930px) {
    .nav-container {
        gap: 30px;
    }

    .banner-container {
        margin-top: 70px;
    }
    .video-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}